body{
    background-color: antiquewhite;
}

.container{
   /* color: red; */
   border: 2px solid black;
   display: flex;
   height: 50vh;
   justify-content: center;
   align-items: center;

}

.item{
    height: 52px;
    width: 52px;
    background-color: blueviolet;
    margin: 4px;
    border: 2px solid black;
}