body{
    background-color: antiquewhite;
}

.cards{
    border: 2px solid black;
    display: flow-root;
}

.card{
    border: 2px solid red;
}

.card:nth-child(3){
    background-color: yellow;
    clear: left;
}

img{
    float:left;
}